body {
    margin: 0;
}

header, footer{
    padding: 30px;
    background-color: black;
    color: white;
}

.article {

    height: 300px;
    background: red;
    margin: 1%;
}

@media (min-width: 768px){
    main {
        display: flex;
    }
    nav {
        width: 30%;
    }
    .articles {
        width: 70%;
    }
}

@media (min-width: 1024px){
    .articles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .article{
        width: 48%;
    }

}